<% if (typeof assetpath === 'undefined') { assetpath = '' } %>
<!doctype html>
<html lang="en">
<head>
	<% include partials/head %>

	<!-- meta tags -->
	<title>Club de Savón</title>
</head>
<body>
	<% include partials/header %>

</body>
<% include partials/footer %>
</html>
